//queries

@media all and (min-width:701px) and (max-width:900px){
    header{
        width: 700px;
        margin: 0 auto;
        min-height: 8rem;
    }
    header h1{
        width: 100%;
        color: #7C593C;
    }
    header:before,
    header:after{
        width:230px;
    }
    header h1 i.fa-lg{
        display:inline;
        color: $color-darkBrown     ;
        vertical-align:baseline;
        float:none;
        font-size: 4rem;
        line-height: 6.3968rem;
    }
    header h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }
    header nav{
        position: static;
        clear:both;
        width: 100%;
        padding: 0;
    }
    header nav>ul>li{
        width:20%;
        float: left;
    }
    header nav>ul>li>a{
        font-size: 1rem;
        line-height: 2rem;
        min-height: 6rem;
        border:none;
        border-left:1px solid #d4d4d4; 
        padding:1.0rem;
        background-color: #fff;
    }
    header nav>ul>li>a:last-child{
        border-right:1px solid #d4d4d4;
    }
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 700px; 
        margin: 0 auto;    
    }
    .col-4{
        @include equalSpaced(2,0%);
            
        //width:50%;
    
    }
    section.content2 h4{
        font-size: 1.414rem;
    }
    section.content2 li{
        font-size: 1.414rem;
    }
    footer .fa-circle{
        color: #89C0C9;
    }
    footer .col-2:last-child{
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    footer h4[lang=ar]{
       display:block;
    }
    footer h4[lang=de],
    footer h4[lang=en],
    footer h4[lang=ru]{
        display:none;
    }
}



@media all and (min-width:901px) and (max-width: 1400px){
    header{
        width: 900px;
        margin: 0 auto;
    }
    header:before,
    header:after{
        width:300px;
    }
    header h1{
        width: 100%;
        color: #3a5E63;
    }
    header h1 i.fa-lg{
        display:inline;
        color: #3a5E63;
        vertical-align:baseline;
        float:none;
        font-size: 4rem;
        line-height: 6.3968rem;
    }
    header h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }
    header nav{
        position: static;
        clear:both;
        width: 100%;
        padding: 0;
    }
    header nav>ul>li{
        width:20%;
        float: left;
        background-color: #fff;
    }
    header nav>ul>li>a{
        font-size: 1rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid #d4d4d4; 
        padding: 0 1.0rem;
        margin: 1.0rem 0;
        background-color: #fff;
    }
    header nav>ul>li:first-child a{
        border-left:none;
    }
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 900px; 
        margin: 0 auto;    
    }
    section.focal h2{
        width: 600px; 
        margin: 0 auto;
    }
    section.focal p.author{
        width: 600px; 
        margin: 0 auto;
    }
    .col-3{
        @include equalSpaced(3,5%);
        
       // width: 30%;
        //margin-left: 5%;
    }
    .col-3:first-child{
        margin-left: 0;
    }
    .col-4{
        @include equalSpaced(4,4%);
        
        width:22%;
        margin-left: 4%;
    
    }
    .col-4:first-child{
        margin-left: 0;
    }
    section.content1 h3{
        font-size: 1.999rem;
        font-weight: 100;
    }
    section.content1 h3 .fa-2x{
        font-size: 1.999rem;
        padding-right: 1rem;
    }
    
    section.content2 h4{
        font-size: 1.414rem;
    }
    section.content2 li{
        font-size: 1.414rem;
    }
    section.content2 p{
        font-size: 1rem;
        font-weight: 400;
    }
    footer .fa-circle{
        color: #C9A689;
    }
    footer h4[lang=ru]{
       display:block; 
    }
    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=en]{
        display:none;
    }
}


@media all and (min-width:1401px){
    header{
        width: 1400px;
        margin:0 auto;
    }
    header:before,
    header:after{
        width:450px;
    }
    header h1{
        width: 100%;
        color: #7C593C;
    }
    header h1 i.fa-lg{
        display:inline;
        color: #7C593C;
        vertical-align:baseline;
        float:none;
        font-size: 4rem;
        line-height: 6.3968rem;
    }
    header h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }
    header nav{
        position: static;
        clear:both;
        width: 100%;
        padding: 0;
    }
    header nav>ul>li{
        width:20%;
        float: left;
        background-color: #fff;
    }
    header nav>ul>li>a{
        font-size: 1.414rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid #d4d4d4; 
        padding:0 1.0rem;
        margin:1.0rem 0;
        background-color: #fff;
    }
    header nav>ul>li:first-child a{
        border-left:none;
    }
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 1400px; 
        margin: 0 auto;    
    }
    section.focal h2{
        font-size: 3.998rem;
        width: 600px; 
        margin: 0 auto;
    }
    section.focal p.author{
        width: 600px; 
        margin: 0 auto;
    }
    .col-3{
        @include equalSpaced(3,4%);
        
        //width: 30%;
       // margin-left: 5%;
    }
    .col-3:first-child{
        margin-left: 0;
    }
    .col-4{
        @include equalSpaced(4,4%);
        //width:22%;
        //margin-left: 4%;
        
    }
    .col-4:first-child{
        margin-left: 0;
    }
    section.content1 h3{
        font-size: 2.827rem;
        font-weight: 100;
    }
    section.content1 h3 .fa-2x{
        font-size: 2.827rem;
        padding-right: 1rem;
        vertical-align: middle;
    }
    
    section.content2 h4{
        font-size: 1.999rem;
    }
    section.content2 li{
        font-size: 1.999rem;
    }
    section.content2 p{
        font-size: 1.414rem;
        font-weight: 400;
    }
    footer p{
        font-size: 1.414rem;
        letter-spacing: 0.2rem;
    }
    footer p:last-child{
        color: #d4d4d4;
    }
    footer .fa-circle{
        color: #89C0C9;
    }
    
    footer h4[lang=en]{
       display:block; 
    }
    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=ru]{
        display:none;
    }
    
}

