//variables

/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

$color-lightBlue: #C7F7FF;
$color-medBlue:   #89C0C9;
$color-darkBlue:  #3a5E63;
$color-lightBrown: #C9A689;
$color-darkBrown:  #7C593C;
$color-lightGrey:  #d4d4d4;
$color-darkGrey:   #222;
$color-white:   #fff;

$font-sans-serif: "josefin Sans","Trebuchet MS",Helvetica,sans-serif;
$font-serif: Cardo,"Palatino Linotype","Book Antiqua",Palatino,serif;