$lightblue:#C7F7FF;
$medblue:#89C0C9;
$darkblue:#3a5E63;
$lightbrown:#C9A689;
$darkbrown:#7C593C;
$lightgrey:#d4d4d4;
$darkgrey:#222;
$ff1: 'Josefin Sans';
$ff2: Trebuchet MS;
$ff3: Helvetica;
$ff4: sans-serif;
$ff5: Cardo;
$ff6: Palatino Linotype;
$ff7: Book Antiqua;
$ff8: Palatino;
$ff9: serif;
$white:#fff;

